html {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: grey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.solar-system {
  background-color: black;
  height: 900px;
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.planet {
  position: relative;
}

.planet, .trail, .fixed {
  border-radius: 50%;
}

.delay {
  background-color: white;
}

.delay-slider {
  display: flex;
  justify-content: space-between;
}

.controls {
  font-size: 1.5rem;
  margin: 10px auto;
  width: 60vw;
  display: flex;
  justify-content: space-between;
}

.start-stop {
  display: flex;
  justify-content: space-between;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}
